services:
  redis:
    container_name: redis
    image: 'redis:7'
    restart: unless-stopped
    command: redis-server --include /usr/local/etc/redis/redis.conf --save 60 1 --loglevel warning
    ports:
     - "6379:6379"
    volumes:
      - ${PWD}/redis.conf:/usr/local/etc/redis/redis.conf
      - ${PWD}/redis:/data
    networks:
      - backend
  postgres:
    container_name: postgres
    image: 'postgres:18'
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=password
    volumes:
      - ${PWD}/postgres:/var/lib/postgresql/18/docker
      - ${PWD}/00-init-sensorcentral-db.sh:/docker-entrypoint-initdb.d/00-init-sensorcentral-db.sh
    networks:
      - backend
  app:
    container_name: sensorcentral
    image: 'lekkim/sensorcentral:1.14'
    restart: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - postgres
    networks:
      - frontend
      - backend
    environment:
      - PORT=8080
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_LEVEL_LOGGERS=${LOG_LEVEL_LOGGERS}
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/sensorcentral
      - DATABASE_ALLOW_SCHEMA_UPGRADE=${DATABASE_ALLOW_SCHEMA_UPGRADE}
      - APP_NO_PROD_TLS=${APP_NO_PROD_TLS}
      - APP_DOMAIN=${APP_DOMAIN}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - OIDC_PROVIDER_URL_GOOGLE=${OIDC_PROVIDER_URL_GOOGLE}
      - OIDC_CLIENT_ID_GOOGLE=${OIDC_CLIENT_ID_GOOGLE}
      - OIDC_CLIENT_SECRET_GOOGLE=${OIDC_CLIENT_SECRET_GOOGLE}
      - OIDC_REDIRECT_URI_GOOGLE=${OIDC_REDIRECT_URI_GOOGLE}
      - OIDC_PROVIDER_URL_GITHUB=${OIDC_PROVIDER_URL_GITHUB}
      - OIDC_CLIENT_ID_GITHUB=${OIDC_CLIENT_ID_GITHUB}
      - OIDC_CLIENT_SECRET_GITHUB=${OIDC_CLIENT_SECRET_GITHUB}
      - OIDC_REDIRECT_URI_GITHUB=${OIDC_REDIRECT_URI_GITHUB}
      - OIDC_PROVIDER_URL_MICROSOFT=${OIDC_PROVIDER_URL_MICROSOFT}
      - OIDC_CLIENT_ID_MICROSOFT=${OIDC_CLIENT_ID_MICROSOFT}
      - OIDC_CLIENT_SECRET_MICROSOFT=${OIDC_CLIENT_SECRET_MICROSOFT}
      - OIDC_REDIRECT_URI_MICROSOFT=${OIDC_REDIRECT_URI_MICROSOFT}
      - GOOGLE_SERVICE_ACCOUNT_EMAIL=${GOOGLE_SERVICE_ACCOUNT_EMAIL}
      - GOOGLE_PRIVATE_KEY=${GOOGLE_PRIVATE_KEY}
      - API_JWT_SECRET=${API_JWT_SECRET}
      - SESSION_SECRET=${SESSION_SECRET}
      - SMARTME_KEY=${SMARTME_KEY}
      
networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge