version: '3'
services:
  redis:
    container_name: redis
    image: 'redis:7'
    command: redis-server --include /usr/local/etc/redis/redis.conf --save 60 1 --loglevel warning
    ports:
     - "6379:6379"
    volumes:
      - ${PWD}/redis.conf:/usr/local/etc/redis/redis.conf
      - ${PWD}/redis:/data
  postgres:
    container_name: postgres
    image: 'postgres:18'
    ports:
      - "5432:5432"
    volumes:
      - ${PWD}/postgres:/var/lib/postgresql/18/docker
      - ${PWD}/00-init-sensorcentral-db.sh:/docker-entrypoint-initdb.d/00-init-sensorcentral-db.sh
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=password

